<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mail</title>
</head>

<body>
  <h3 style="color: blue">Password reset</h3>
  <p>Hello <%= fullname %></p>
  <button><a href=<%= link %> target="_blank">Reset your password</a></button>
</body>

</html>

