<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tickets</title>
  <style>
    h3 {
      color: rgb(255, 255, 255);
      font-size: 30px;
      background-color: rgb(197, 13, 130);
      width: 700px;
      border-radius: 10px;
      text-align: center;
      padding: 30px;
      margin: auto;
    }

    .events-wrapper {
      width: 500px;
      margin: 20px auto;
    }

    .event {
      padding: 10px;
      border-radius: 20px;
      margin: 20px auto;
      text-align: center;
      background-color: rgb(255 255 255);
      border: 2px solid rgb(255 157 219)
    }

    .event h4 {
      font-size: 24px;
      margin: 10px auto;
      color: #c13f84;
    }

    .event h5 {
      font-size: 18px;
      margin: 10px auto;
      font-weight: 500;
    }

    .event p {
      font-size: 16px;
      font-weight: 600;
      margin: 10px auto;
      color: #c13f84;
    }

    .logo {
      margin: 20px auto 50px;
      display: flex;
      width: 300px;
    }
  </style>
</head>

<body>
  <img src="cid:logo.png" alt="logo" class="logo" />
  <h3>
    <%= data.fullname %>, You Got the Tickets!
  </h3>
  <div class="events-wrapper">
    <% Object.keys(data).slice(1).forEach(key=>{ %>
      <div class="event">
        <h4>
          <%= data[key][0].eventId.name %>
        </h4>
        <h5>
          <%= data[key][0].eventId.date.toDateString() %>
        </h5>
        <p>Number of tickets: <%= data[key].length %>
        </p>
      </div>
      <% }) %>
  </div>
</body>

</html>